<p id="notice"><%= notice %></p>

<p><%= @course_enrollments%></p>

<% @course_enrollments.each do |course_enrollment| %>
  <p> <%= course_enrollment %> </p>
<% end %>



<%= link_to 'Back', course_enrollments_path %>
