<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-lessons"><%= link_to "Lessons", casein_lessons_path %></li>
<li id="tab-lectures"><%= link_to "Lectures", casein_lectures_path %></li>
<li id="tab-courses"><%= link_to "Courses", casein_courses_path %></li>