<!-- Default feedback has three possible answers -->
<% feedback = commentable.feedback
unless feedback.nil?
  question = feedback.questionnaire.m_questions.first
  fresh = feedback.questionnaire.completed_questionnaires(user_id: current_user.id).empty?
  given_answer = question.completed_m_questions(user_id: current_user.id).first.answer unless fresh
  icons = ["meh-o", "smile-o", "frown-o"] %>

  <div class="feedback-container">
    <% question.answers.each_with_index do |answer, i| %>
      <button type="button" <%= 'disabled' unless fresh %>
              class="btn btn-primary <%='btn-success' if (given_answer == answer) %>"
              value="<%= answer.id %>">
        <%= fa_icon icons[i], text: answer.text %>
      </button>
    <% end %>
  </div>
<% end %>
