<div class="container">
	<h1>Editing Course Badge</h1>
	
	<%= render 'form' %>
	<%= link_to 'Show', @course_badge, class: "btn btn-primary" %>
	<%= link_to 'Back', course_badges_path, class: "btn btn-primary" %>
</div>

