<h1>Socialteach - Quizinvite</h1>

<p>
  Hello <%= @opponent.username %>
</p>
<p>
	<%= @inviter.username %> wants to challenge your knowledge in a quiz.
</p>
<p>
	Go to our website to accept this duell.
</p>