<% #This part is for people not enrolled in the course %>
<% if (not user_signed_in?) or (not current_user.is_enrolled?(@course)) %>
  <p>
    <strong>Name:</strong>
    <%= @course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @course.description %>
  </p>
<% end -%>

<% if user_signed_in? and current_user.is_enrolled?(@course)%>
  <%= render 'show_enrolled', course: @course %>
<% end %>

<%= link_to 'Back', courses_path %>

