<div class="list-group">
  <% activities.each do |activity| %>
    <a href="#" class="list-group-item chapter" data-node-id="<%= activity.id %>">
      <div class="row" style="margin: 5px">
      <h4 class="list-group-item-heading">
        <span class="label label-default label-pill pull-right">
          <%= activity.shortname %>
        </span>
        <%= activity.name %>
      </h4>
      <p class="list-group-item-text">
      Activities have no description?
      </p>
    </div>
    <div class="row" style="margin: 5px">
      <button type="button" class="btn btn-link pull-right" data-toggle="tooltip" title="Delete Activity">
      <i class="fa fa-x fa-trash"></i>
      </button>
      <button type="button" class="btn btn-link pull-right" data-toggle="tooltip" title="Edit Activity">
      <i class="fa fa-x fa-pencil"></i>
      </button>
      <button type="button" class="btn btn-link pull-right" data-toggle="tooltip" title="Edit Successors">
      <i class="fa fa-x fa-chevron-right"></i>
      </button>
      <button type="button" class="btn btn-link pull-right" data-toggle="tooltip" title="Edit Predecessors">
      <i class="fa fa-x fa-chevron-left"></i>
      </button>
    </div>
    </a>
  <% end %>
  <p></p>
  <button type="button" class="btn btn-primary btn-block" data-toggle="tooltip" title="Add Activity">
    <i class="fa fa-x fa-plus"></i>
  </button>
</div>
