<h1>Socialteach</h1>

<p>
  Hello <%= @user.username %>
</p>
<p>
	Social Teach misses you! Since more than a week u didn´t logged in our plattform. Maybe tell us your concerns or give us your feedback to our plattform.
</p>