<div class="panel panel-default">
  <div class="panel-body">
    <legend>Your Activity Results</legend>
    <% container.questionnaire.m_questions.each_with_index do |question, i| %>
      <div class= "row">
        <div class="col-md-12">
          <% completed_question = completed_questionnaire.completed_m_questions.where(m_question: question).last %>
          <% if question_success?(completed_question) %>
            <div class="panel panel-success">
              <div class="panel-heading">
                <i class="fa fa-lg fa-check-circle text-success pull-right"></i>
          <% else %>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <i class="fa fa-lg fa-times-circle text-danger pull-right"></i>
          <% end %>
              <%= question.text %>
            </div>
            <div class="panel-body">
              <% question.answers.each do |answer| %>
                <% if given_answer?(completed_question, answer) %>
                  <p class="bg-info">
                <% else %>
                  <p>
                <% end %>
                <%- if answer.correct %>
                  <i class="fa fa-check-circle text-success"></i>
                <%- else %>
                  <i class="fa fa-times-circle text-danger"></i>
                <%- end %>
                <%= answer.text %>
              </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to 'Try Again', '', class: "btn btn-primary" %>
  </div>
</div>
