<div class="feedback-container">
  <a class="btn btn-primary">
    <%= fa_icon "smile-o", text: "Perfect" %>
  </a>
  <a class="btn btn-primary">
    <%= fa_icon "meh-o", text: "Too easy" %>
  </a>
  <a class="btn btn-primary">
    <%= fa_icon "frown-o", text: "Too hard" %>
  </a>
</div>
