<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :text %><br>
      <p> The lecture content can be formatted using markdown syntax.</p>
      <%= f.text_area :text, id: 'lecture-text', class: "form-control", rows: 19 %>
    </div>
  </div>
  <%= render 'markdown' %>
</div>
