<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <legend>Questions</legend>
      <%= f.fields_for :questionnaire do |questionnaire_form| %>
        <%= questionnaire_form.fields_for :m_questions do |questions_form| %>
          <%= render "question_fields", f: questions_form %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
