<div id="cheatsheet" class="panel panel-default">
  <div class="panel-heading">
    Markdown Cheat Sheet
  </div>
  <div class="panel-body">
    <h5>Emphasis:</h5>
    *italic* or _italic_ <br>
    **bold** __bold__ <br>

    <h5>Headers:</h5>
    # Heading 1 <br>
    ## Heading 2 <br>
    ### And so on until H6 <br>

    <h5>Lists:</h5>
    * unordered list item <br>
    * another list item <br>

    1. ordered list <br>
    1. the exact numbers don't matter <br>
      * unordered sub-list (indented two spaces) <br>

      <h5>Links:</h5>
      [link text](url) <br>
      [link text](url "Hover Text with Title") <br>
      <h5>Reference Links:</h5>
      [link text][reference key] <br>
      [reference key]: url <br>

    <h5>Images:</h5>
    ![alt text](url of image) <br>

    <h5>Code</h5>
    Inline `Code` is enclosed in backticks <br>
    ``` <br>
    Code Blocks are enclosed in lines of three backticks <br>
    ``` <br>

    <h5>Blockquotes:</h5>
    > This is a quote. <br>
    > It can span multiple lines. <br>

    <h5>Rules:</h5>
    Three or more of the following chars will create a horizontal rule <br>
    *** <br>
    --- <br>
    ___ <br>

    Or check out <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">this Guide</a> for more details.
  </div>
</div>
