<div class="container">
  <div class="row">
    <h1>Editing Activity</h1>
  </div>
    <%= render 'form' %>

    <%= link_to 'Show', instructor_activity_path(@activity) %> |
    <%= link_to 'Back', instructor_chapter_path(@activity.chapter) %>
</div>
