<div class="container">
  <div class="row">
    <h1>Editing Activity</h1>
  </div>
    <%= render 'form' %>

    <%= link_to 'Show', instructor_activity_path(@activity), class: 'btn btn-primary' %>
    <%= link_to 'Back', edit_instructor_chapter_path(@activity.chapter), class: 'btn btn-primary' %>
</div>
