<div class="container">
  <div class="row">
    <h1>New Activity</h1>
  </div>
  <div class="row">
    <%= render 'form' %>
  </div>
  <%= link_to 'Back', instructor_course_path(@chapter.course) %>
</div>
